<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <h1 class="page-header">Booking Summary</h1>

    <table class="table table-bordered">
    <tr>
        <th style="text-align:center" > Date </th>
        <th style="text-align:center" > Charter </th>

        <th style="text-align:center" > Adult </th>
        <th style="text-align:center" > Child </th>
        <th style="text-align:center" > Rods  </th>
        <th style="text-align:center" > Total  </th>
    </tr>

<!-- TBD set color for Regulator Charters -->
    <repeat group="{{ @bookings }}" value="{{ @summary }}">
        <check if="{{ (@summary.Adults + @summary.Children) >= 15}}">
        <true>
            <tr class="bookings-good">
        </true>
        <false>
            <check if="{{ (@summary.Adults + @summary.Children) >= 10}}">
            <true>
                <tr class="bookings-close">
            </true>
            <false>
                <tr class="bookings-low">
            </false>
            </check>
        </false>
        </check>

          <td style="text-align:center" >
            <a href="bookingDate?when={{ @summary.Date }}&charter={{ @summary.CharterId }}">
              {{ date_format(date_create(@summary.Date), 'D m/d') }} </a></td>
          <td style="text-align:center" > {{ @bobj->getCharterName(@summary.CharterId) }} </td>
          <td style="text-align:center" > {{ @summary.Adults }} </td>
          <td style="text-align:center" > {{ @summary.Children }} </td>
          <td style="text-align:center" > {{ @summary.Rods }} </td>
          <td style="text-align:center" > {{ '$' . @summary.Total }} </td>
        </tr>
    </repeat>

    <tr>
        <td style="text-align:center" > Totals </td>
        <td style="text-align:center" > - </td>
        <td style="text-align:center" > {{ @totals.Adults }} </td>
        <td style="text-align:center" > {{ @totals.Children }} </td>
        <td style="text-align:center" > {{ @totals.Rods }} </td>
        <td style="text-align:center" > {{ '$' . @totals.Total }} </td>
    </tr>

    </table>

</div>
