<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  <h1 class="page-header">Bookings for {{ @charterName }} -
    {{ date_format(date_create(@booking.created_at), 'D m/d/y') }} </h1>

  <table class="table table-striped table-bordered">
    <tr>
      <th style="text-align:left"   > Name </th>
      <th style="text-align:center" > {{ 'Adult / Child' }} </th>
      <th style="text-align:center" > Rods  </th>
      <th style="text-align:center" > Coupon  </th>
      <th style="text-align:center" > Phone </th>
      <th style="text-align:center" > Booked </th>
    </tr>

  <repeat group="{{ @bookings }}" value="{{ @booking }}">
    <tr>
      <td style="text-align:left"   > {{ @booking.first_name . ' ' . @booking.last_name }} </td>
      <td style="text-align:center" > {{ @booking.Adults . ' / ' . @booking.Children }} </td>
      <td style="text-align:center" > {{ @booking.Rods }} </td>
      <td style="text-align:center" > {{ @booking.coupon }} </td>
      <td style="text-align:center" > {{ @booking.phone }}</a>
      </td>
      <td style="text-align:center" >
          {{ date_format(date_create(@booking.created_at), 'D m/d/y') }} </td>
    </tr>
  </repeat>

  <tr>
    <td style="text-align:left" > Totals </td>
    <td style="text-align:center" > {{ @totals.Adults . ' / ' . @totals.Children }} </td>
    <td style="text-align:center" > {{ @totals.Rods }} </td>
    <td style="text-align:center" > {{ '$' . number_format( @totals.fsa_take, 0 ) }} </td>
    <td style="text-align:center" > {{ '-' }} </td>
    <td style="text-align:center" > {{ '$' . number_format( @totals.total, 0 ) }} </td>
  </tr>

  </table>

    <form action='/bookingDayComplete' method="post">
    <button type="submit" class="btn btn-default">Complete Bookings for Day</button>
    <div class="form-group">
        <input type="text" class="form-control" name="bookingsForDay"
          value={{ @bobj->getIdsJson(@bookings) }}>
    </div>

    </form>

</div>
