<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <h1 class="page-header">Booking Summary ({{@SESSION.order_status}}) from {{@SESSION.order_start_date}}</h1>

    <table class="table table-bordered">
    <tr>
        <th style="text-align:center" > Date </th>
        <th style="text-align:center" > Charter </th>
        <th style="text-align:center" > {{ 'Adult / Child' }} </th>
        <th style="text-align:center" > Rods </th>
        <th style="text-align:center" > Combined </th>
    </tr>

<!-- Set color for Regulator Charters -->
    <repeat group="{{ @bookings }}" value="{{ @summary }}">

        <check if="{{ (FALSE === strpos(@bobj->getCharterName(@summary.CharterId), 'Reg')) }}">
        <true>
            <check if="{{ (@summary.Adults + @summary.Children) >= 15}}">
            <true>
                <tr class="bookings-good">
            </true>
            <false>
                <check if="{{ (@summary.Adults + @summary.Children) >= 10}}">
                <true>
                    <tr class="bookings-close">
                </true>
                <false>
                    <tr class="bookings-low">
                </false>
                </check>
            </false>
            </check>
        </true>
        <false>
            <tr class="bookings-regulator">
        </false>
        </check>

          <td style="text-align:center" >
            <a href="bookingDate?when={{ @summary.Date }}&charter={{ @summary.CharterId }}">
              {{ date_format(date_create(@summary.Date), 'D m/d') }} </a></td>
          <td style="text-align:center" > {{ @bobj->getCharterName(@summary.CharterId) }}</a></td>
          <td style="text-align:center" > {{ @summary.Adults . ' / ' . @summary.Children }} </td>
          <td style="text-align:center" > {{ @summary.Rods }} </td>
          <td style="text-align:center" > {{ '$' . number_format( @summary.fsa_total, 0 ) }} </td>
        </tr>
    </repeat>

    <tr>
        <td style="text-align:center" > Totals </td>
        <td style="text-align:center" > - </td>
        <td style="text-align:center" > {{ @totals.Adults . ' / ' . @totals.Children }} </td>
        <td style="text-align:center" > {{ @totals.Rods }} </td>
        <td style="text-align:center" > {{ '$' . number_format( @totals.fsa_total, 0 ) }} </td>
    </tr>
    </table>

</div>
