<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  <h1 class="page-header">{{ @header }}</h1>

  <table class="table table-striped table-bordered">

    <tr> <td style="text-align:left" > {{ @event->id }} </td> </tr>
    <tr> <td style="text-align:left" > {{ @event->dayofweek }} </td> </tr>
    <tr> <td style="text-align:left" > {{ @event->timeofday }} </td> </tr>
    <tr> <td style="text-align:left" > {{ @event->area }} </td> </tr>
    <tr> <td style="text-align:left" > {{ @event->grp }} </td> </tr>
    <tr> <td style="text-align:left" > {{ @event->address }} </td> </tr>
    <tr> <td style="text-align:left" > {{ @event->city }} </td> </tr>
    <tr> <td style="text-align:left" > {{ @event->state }} </td> </tr>
    <tr> <td style="text-align:left" > {{ @event->zip }} </td> </tr>
    <tr> <td style="text-align:left" > {{ @event->type }} </td> </tr>
    <tr> <td style="text-align:left" > {{ @event->misc }} </td> </tr>
    <tr> <td style="text-align:left" > {{ @event->geocode }} </td> </tr>

  </table>
  
</div>
