<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head -->
    <meta name="description" content="PHP Application Skeleton">
    <meta name="author" content="David Thatcher">

    <title>PHP Skeleton Demo</title>

    <!-- Bootstrap core CSS -->
    <link href="app/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="app/css/style.css" rel="stylesheet">
  </head>
