  <body>

    <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#collapsable-nav" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">FSA Booking Information</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                 aria-haspopup="true" aria-expanded="false">User Actions<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/userEditPassword">Change Password</a></li>
                <li><a href="/userLogout">Logout</a></li>

                <check if="{{ 'write' == @SESSION.access }}">
                <li><a href="/userList">List Users</a></li>
                </check>

              </ul>
            </li>
            <li><a href="#">TBD About {{ @SESSION.user }} </a></li>
        </ul>

      </div>
    </nav>
    </header>

    <div class="container-fluid">
        <div id="collapsable-nav" class="collapse navbar-collapse">
            <ul id="nav-list" class="nav navbar-nav navbar-left visible-xs">
                <ul class="nav nav-sidebar">
                    <li><a href="/bookingSummary">Bookings Summary</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="/bookingList">Bookings List</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="/bookingTotals">Bookings Totals</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="/orderSettings">Order Settings</a></li>
                </ul>
            </ul> <!-- #nav-list -->
        </div> <!-- collapsible-nav -->
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="/bookingSummary">Overview <span class="sr-only">(current)</span></a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="/bookingList">Bookings List</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="/bookingTotals">Bookings Totals</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="/orderSettings">Order Settings</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="bookingsJson">Bookings JSON</a></li>
                </ul>

                <check if="{{ @DEBUG > 0}}">
                <ul class="nav nav-sidebar">
                    <li><a href="/ordersJson">Orders JSON</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="/restMessage">REST GET Message</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="/restUpdate">REST PUT Message</a></li>
                </ul>
                </check>

            </div>
        </div>
    </div>
