  <body>

    <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#collapsable-nav" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/bookingSummary">MSA Booking Information</a>
        </div>
      </div>
    </nav>
    </header>

    <div class="container">
        <div id="collapsable-nav" class="collapse navbar-collapse" >
            <ul id="nav-list" class="nav navbar-nav navbar-right visible-xs">
                <ul class="nav nav-sidebar">
                    <li><a href="/bookingList">Bookings List</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="bookingsJson" >Bookings JSON</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="/ordersJson" >Orders JSON</a></li>
                </ul>
            </ul> <!-- #nav-list -->
        </div> <!-- collapsible-nav -->
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/bookingSummary">Overview <span class="sr-only">(current)</span></a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/bookingList">Bookings List</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="bookingsJson" >Bookings JSON</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/ordersJson" >Orders JSON</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/orderSettings" >Order Settings</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/restMessage" >Send REST</a></li>
          </ul>
        </div>
