<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <h1 class="page-header">{{ @header }} </h1>

    <form action='/saveSettings' method="post">

    <div class="form-group">
        <label for="orderStatus">Order Status</label>
        <select class="form-control" name="orderStatus" >
            <option selected>processing</option>
            <option>completed</option>
            <option>on-hold</option>
            <option>cancelled</option>
            <option>refunded</option>
        </select>
    </div>

    <div class="form-group">
        <label for="orderStartDate">Start Date</label>
        <input type="date" class="form-control" name="orderStartDate"
          required="" value={{ @SESSION.order_start_date }}>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>

    </form>

</div>
