<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  <h1 class="page-header">Password Update for {{ $user->username }}</h1>

    <form action='/userUpdatePassword' method="post">

    <div class="form-group">

        <label for="password1">Password</label>
        <input type="password" class="form-control" name="password1"
          required="" value={{ $user->password }}

        <label for="password2">Repeat Password</label>
        <input type="password" class="form-control" name="password2"
          required="" value={{ $user->password }}

        <label for="id"></label>
        <input type="hidden" class="form-control" name="id"
          required="" value={{ $user->id }}
    </div>

    <p>
    <div class="form-group">
    <button type="submit" class="btn btn-default">Submit</button>
    </div>

</div>
