<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  <h1 class="page-header">User List</h1>

  <table class="table table-striped table-bordered">

    <tr>
    <th style="text-align:center" > Name </th>
    <th style="text-align:center" > Access </th>
    <th style="text-align:left"   > Order Status </th>
    <th style="text-align:center" > Order Start </th>
    <th style="text-align:center" > Edit </th>
    </tr>

  <repeat group="{{ @users }}" value="{{ @user }}">
    <tr>
    <td style="text-align:center" > {{ @user.username }} </td>
    <td style="text-align:center" > {{ @user.access }} </td>
    <td style="text-align:center" > {{ @user.order_status }} </td>
    <td style="text-align:center" > {{ @user.order_start_date }} </td>
    <td style="text-align:center" >
        <a href="userEdit?id={{ @user.id }}" >Edit</a> </td>
    </tr>
  </repeat>

  </table>

  <form action='/bookingSummary' method="get">
    <button type="submit" class="btn btn-default"> Booking Summary </button>
  </form>


</div>
